@charset "utf-8";

.container{
  background-color: silver;
}
.header{
  background-color: yellow;
}
.visual{
  background-color: lime;
}
.main{
  background-color: blue;
}
.slogan{
  background-color: orange;
}
.footer-bg{
  background-color: gray;
}
.footer{
  background-color: pink;
}
body{
  margin: 0;
}
/* 레이아웃 */
*, *::before, *::after{
  box-sizing: border-box;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
  height: 10vh;
}
/* 비주얼 */
.visual{
  height: 10vh;
}
/* 메인 */
.main{
  padding: 30px;
  height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.group{
  background-color: aqua;
}
.group1{
  width: 250px;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
}
/* 슬로건 */
.slogan{
  height: 10vh;
}
/* 푸터 */
.footer{
  height: 10vh;
}